
<!-- Property data -->
@if (property) {
  <section class="relative w-full h-[90vh] overflow-hidden ">
    <!-- Background image -->
    <img [src]="mainImage" alt="Propiedades" class="w-full h-full object-cover">
    
    <!-- Desktop property info panel -->
    <div class="hidden md:block absolute top-6 right-6 w-80 bg-gray-50/90 backdrop-blur-sm p-6 rounded-lg shadow-lg">
      <app-property-info-panel 
        [property]="property" 
        [propertyImages]="propertyImages">
      </app-property-info-panel>
    </div>
  </section>

  <!-- Mobile property info panel -->
  <section class="md:hidden w-full px-6 py-6 bg-gray-50">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <app-property-info-panel 
        [property]="property" 
        [propertyImages]="propertyImages">
      </app-property-info-panel>
    </div>
  </section>

  <!-- Description -->
  <section class="w-full px-6 md:px-20 py-12 overflow-hidden">
    <p class="text-gray-700 text-base text-lg text-justify leading-relaxed drop-cap">
      @if (property.description) {
        <span class="drop-cap-letter">{{ property.description.charAt(0) }}</span>
        {{ property.description.substring(1) }}
      }
    </p>
  </section>
}
